In [1]:
import pandas as pd
import numpy as np
import bcrypt
from sqlalchemy import delete
from tqdm import tqdm

from src.pingers import *
from src.database.session import db
from src.s3 import read_csv_from_s3
from src.models import *
from src.schemas import *
from src.crud import *
from src.utils.database import row_to_dict
from src.utils.hash_password import hash_password
from src.scripts.saving_s3_files.save_global_descriptive_statistics_to_s3 import save_global_descriptive_statistics_to_s3

2023-02-17 13:09:25.002 | DEBUG    | src.database.session:<module>:19 - base: lebesgue-dev.cgviinyjedbs.eu-central-1.rds.amazonaws.com

base I am using: lebesgue-dev.cgviinyjedbs.eu-central-1.rds.amazonaws.com

In [2]:
df = read_csv_from_s3(path='data/global/global_descriptive_statistics_2023-02-17.csv')

In [3]:
df

,year_month,feature,feature_value,count_ads,spend_USD,impr,link_clicks,purch,count_ads_by_shop,spend_USD_by_shop,impr_by_shop,link_clicks_by_shop,purch_by_shop,count_shops
0,2018-09,creative_type,carousel,1.0,0.00,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0
1,2018-09,cta_any,False,1.0,0.00,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0
2,2018-09,discounts_any,False,1.0,0.00,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0
3,2018-09,emojis_any,False,1.0,0.00,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0
4,2018-09,fact_words_any,False,1.0,0.00,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,2023-02,prices_any,False,1.0,3065.46,270876.0,3766.0,120.0,1.0,1.0,1.0,1.0,1.0,1.0
1348,2023-02,starts_with_question_any,False,1.0,3065.46,270876.0,3766.0,120.0,1.0,1.0,1.0,1.0,1.0,1.0
1349,2023-02,target,acquisition,1.0,3065.46,270876.0,3766.0,120.0,1.0,1.0,1.0,1.0,1.0,1.0
1350,2023-02,urgency_any,False,1.0,3065.46,270876.0,3766.0,120.0,1.0,1.0,1.0,1.0,1.0,1.0
1351,2023-02,user_addressing_any,False,1.0,3065.46,270876.0,3766.0,120.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
a = df.groupby('target').sum()
a.join((a / a.sum(axis=0)).rename(columns=lambda x: x+'_relative'))

,aov,impr,link_clicks,purch,spend,purch_value,ctr,cr,roas,spend_USD,aov_relative,impr_relative,link_clicks_relative,purch_relative,spend_relative,purch_value_relative,ctr_relative,cr_relative,roas_relative,spend_USD_relative
target,,,,,,,,,,,,,,,,,,,,
acquisition,157968.537193,327135236,942700,84774,4398598.60,3192025.72,7.084292,346.386141,2033.626039,4398598.60,0.812858,0.842493,0.87571,0.684766,0.777878,0.669828,0.791023,0.580538,0.560813,0.777878
remarketing,36368.761746,61158886,133798,39026,1256012.32,1573414.74,1.871566,250.277541,1592.581827,1256012.32,0.187142,0.157507,0.12429,0.315234,0.222122,0.330172,0.208977,0.419462,0.439187,0.222122

In [2]:
table = save_global_descriptive_statistics_to_s3(db=db, force_from_scratch=True)

data/global/global_descriptive_statistics_2023-02-17.csv
['development/data/global/global_descriptive_statistics_2023-02-17.csv']

  0%|          | 0/1050 [00:00<?, ?it/s]

shop_id: 2

  0%|          | 1/1050 [00:06<1:55:13,  6.59s/it]

shop_id: 96

  0%|          | 2/1050 [00:11<1:34:53,  5.43s/it]

shop_id: 15873

  0%|          | 3/1050 [00:16<1:36:09,  5.51s/it]

shop_id: 15887

2023-02-17 12:13:10.838 | DEBUG    | src.scripts.saving_s3_files.save_global_descriptive_statistics_to_s3:save_global_descriptive_statistics_to_s3:112 - Skipam jer nemam ['target']
  0%|          | 4/1050 [00:18<1:06:46,  3.83s/it]

shop_id: 15892

2023-02-17 12:13:12.386 | DEBUG    | src.scripts.saving_s3_files.save_global_descriptive_statistics_to_s3:save_global_descriptive_statistics_to_s3:112 - Skipam jer nemam ['target']
  0%|          | 5/1050 [00:19<52:22,  3.01s/it]

shop_id: 15977

2023-02-17 12:13:17.528 | DEBUG    | src.scripts.saving_s3_files.save_global_descriptive_statistics_to_s3:save_global_descriptive_statistics_to_s3:112 - Skipam jer nemam ['target']
  1%|          | 6/1050 [00:24<1:04:57,  3.73s/it]

shop_id: 16006

2023-02-17 12:13:18.908 | DEBUG    | src.scripts.saving_s3_files.save_global_descriptive_statistics_to_s3:save_global_descriptive_statistics_to_s3:112 - Skipam jer nemam ['target']
  1%|          | 7/1050 [00:26<51:31,  2.96s/it]

shop_id: 16038

In [3]:
table

                                     count_ads  spend_USD      impr  \
year_month feature    feature_value
2017-01    emojis_any False                  3     200.55     26589
                      True                  15    5332.47    670686
2017-02    emojis_any False                  4     250.25     59971
                      True                  17   11995.32    833008
2017-03    emojis_any False                  4     335.29    161007
...                                        ...        ...       ...
2021-07    emojis_any True                  74  119440.18   7905390
2021-08    emojis_any False                126  137307.52  10877670
                      True                  82  127985.20   7742280
2022-06    emojis_any True                   8   23813.46   1056248
2022-07    emojis_any True                   5   44944.12   3892834

                                     link_clicks  purch  count_ads_by_shop  \
year_month feature    feature_value
2017-01    emojis_any False                  363      0           0.166667
                      True                 12259     27           0.833333
2017-02    emojis_any False                  297      2           0.190476
                      True                 20067     13           0.809524
2017-03    emojis_any False                  130      1           0.500000
...                                          ...    ...                ...
2021-07    emojis_any True                 24598   1352           0.230530
2021-08    emojis_any False                24336   2152           0.605769
                      True                 26588   1812           0.394231
2022-06    emojis_any True                 10678      0           1.000000
2022-07    emojis_any True                  9538      0           1.000000

                                     spend_USD_by_shop  impr_by_shop  \
year_month feature    feature_value
2017-01    emojis_any False                   0.036246      0.038133
                      True                    0.963754      0.961867
2017-02    emojis_any False                   0.020436      0.067158
                      True                    0.979564      0.932842
2017-03    emojis_any False                   0.017617      0.115786
...                                                ...           ...
2021-07    emojis_any True                    0.316732      0.327773
2021-08    emojis_any False                   0.517570      0.584194
                      True                    0.482430      0.415806
2022-06    emojis_any True                    1.000000      1.000000
2022-07    emojis_any True                    1.000000      1.000000

                                     link_clicks_by_shop  purch_by_shop  \
year_month feature    feature_value
2017-01    emojis_any False                     0.028759       0.000000
                      True                      0.971241       1.000000
2017-02    emojis_any False                     0.014585       0.133333
                      True                      0.985415       0.866667
2017-03    emojis_any False                     0.015323       0.043478
...                                                  ...            ...
2021-07    emojis_any True                      0.357166       0.262219
2021-08    emojis_any False                     0.477889       0.542886
                      True                      0.522111       0.457114
2022-06    emojis_any True                      1.000000            NaN
2022-07    emojis_any True                      1.000000            NaN

                                     count_shops
year_month feature    feature_value
2017-01    emojis_any False                    1
                      True                     1
2017-02    emojis_any False                    1
                      True                     1
2017-03    emojis_any False                    1
...                                          ...
2021-07    emojis_any True                     1
2021-08    emojis_any False                    1
                      True                     1
2022-06    emojis_any True                     1
2022-07    emojis_any True                     1

[114 rows x 11 columns]

In [2]:
shop_ids_query = db.query(FacebookAdsetInsights.shop_id).distinct()
shop_ids = pd.read_sql(shop_ids_query.statement, db.bind)["shop_id"].tolist()
chunk_size = 3

for i, start_idx in tqdm(enumerate(range(0, len(shop_ids) + 1, chunk_size)), total = len(shop_ids) // chunk_size):
    chunk = shop_ids[start_idx : start_idx + chunk_size]
    q = crud.fb_adset_insights.query_budget_split_by_target(db=db, shop_id=chunk)
    new_df = pd.read_sql(q.statement, db.bind)
    if i == 0:
        df = new_df
    else:
        df = pd.concat([df, new_df], axis=0).reset_index(drop=True)
    df.to_csv('data/budget_split_by_target.csv')

  1%|          | 3/338 [01:48<2:42:14, 29.06s/it]

In [3]:
df

   shop_id   spend_USD
0    16038  2202022.77
1    16038   211804.45

In [3]:
from sqlalchemy.dialects import postgresql
print(q.statement.compile(dialect=postgresql.dialect()))

SELECT anon_1.shop_id, sum(anon_1.spend / anon_2.rate_from_usd) AS "spend_USD"
FROM (SELECT facebook_adset_insights.shop_id AS shop_id, facebook_adset_insights.account_id AS account_id, facebook_adset_insights.adset_id AS adset_id, facebook_adset.target AS target, sum(facebook_adset_insights.spend) AS spend
FROM facebook_adset_insights JOIN facebook_adset ON facebook_adset_insights.shop_id = facebook_adset.shop_id AND facebook_adset_insights.account_id = facebook_adset.account_id AND facebook_adset_insights.adset_id = facebook_adset.adset_id
WHERE facebook_adset_insights.shop_id IN (__[POSTCOMPILE_shop_id_1]) GROUP BY facebook_adset_insights.shop_id, facebook_adset_insights.account_id, facebook_adset_insights.adset_id, facebook_adset.target) AS anon_1 JOIN facebook_ad_account ON anon_1.account_id = facebook_ad_account.facebook_id AND anon_1.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_2 ON facebook_ad_account.currency = anon_2.code GROUP BY anon_1.shop_id, anon_1.target

In [5]:
stmt = (
    delete(FacebookAdsetInsights).
    where(FacebookAdsetInsights.shop_id == 5)
)

db.execute(stmt)

In [7]:
str(stmt)

'DELETE FROM facebook_adset_insights WHERE facebook_adset_insights.shop_id = :shop_id_1'

In [2]:
crud.fb_adset_insights.rebuild_table(db=db)

2023-02-17 10:17:33.237 | DEBUG    | src.crud.facebook.facebook_adset_insights:rebuild_table:25 - facebook_adset_insights

OperationalError: (psycopg2.OperationalError) could not translate host name "lebesgue-dev.cgviinyjedbs.eu-central-1.rds.amazonaws.com" to address: nodename nor servname provided, or not known

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [7]:
list(map(list, np.array_split([1], 7)))

[[1], [], [], [], [], [], []]

In [6]:
df = pd.read_sql(db.query(FacebookDailyPerformance.shop_id).distinct().limit(5).statement, db.bind)

In [7]:
df

   shop_id
0        2
1       96
2    15873
3    15887
4    15892

In [11]:
df = ping_raw_creative_and_target(db=db, shop_id=268714, ad_id=6026939154285)

TypeError: ping_raw_creative_and_target() got an unexpected keyword argument 'db'

In [2]:
df = ping_creative(db=db, shop_id=268714)

In [4]:
df.loc[df.primary.isna(), 'ad_id']

1        6033996437485
2        6046729558485
3        6047215813285
4        6047215996285
5        6047216934685
             ...
10763    6074009688853
10764    6074868893653
10765    6074982158453
10766    6102999128853
10767    6271846481853
Name: ad_id, Length: 1938, dtype: object

In [3]:
df.primary.count() / len(df)

0.8200222882615156

In [7]:
df.loc[df.primary.isna(), 'ad_id']

0        6026939154285
1        6033996437485
2        6046729558485
3        6047215813285
4        6047215996285
             ...
10763    6074009688853
10764    6074868893653
10765    6074982158453
10766    6102999128853
10767    6271846481853
Name: ad_id, Length: 4695, dtype: object

In [3]:
df.primary.count() / len(df)

0.5639858841010401

In [3]:
df.primary.count() / len(df)

AttributeError: 'DataFrame' object has no attribute 'primary'

In [10]:
df[df.ad_id == '23842601978410353']

  shop_id         account_id  ... urgency_any user_addressing_any
0  268714  10159096477130290  ...         NaN                 NaN

[1 rows x 29 columns]

In [4]:
primaries = df.loc[df.primary.apply(len) > 0, 'primary'].apply(lambda x: x[0]).tolist()

TypeError: object of type 'float' has no len()

In [5]:
query = db.query(FacebookAdset.targeting).limit(1).all()

In [9]:
[a[0] for a in query]

[{'age_max': 65,
  'age_min': 21,
  'genders': [2],
  'geo_locations': {'regions': [{'key': '3845',
     'name': 'Arizona',
     'country': 'US'},
    {'key': '3847', 'name': 'California', 'country': 'US'},
    {'key': '3848', 'name': 'Colorado', 'country': 'US'},
    {'key': '3849', 'name': 'Connecticut', 'country': 'US'},
    {'key': '3852', 'name': 'Florida', 'country': 'US'},
    {'key': '3853', 'name': 'Georgia', 'country': 'US'},
    {'key': '3855', 'name': 'Idaho', 'country': 'US'},
    {'key': '3857', 'name': 'Indiana', 'country': 'US'},
    {'key': '3859', 'name': 'Kansas', 'country': 'US'},
    {'key': '3861', 'name': 'Louisiana', 'country': 'US'},
    {'key': '3862', 'name': 'Maine', 'country': 'US'},
    {'key': '3863', 'name': 'Maryland', 'country': 'US'},
    {'key': '3864', 'name': 'Massachusetts', 'country': 'US'},
    {'key': '3868', 'name': 'Missouri', 'country': 'US'},
    {'key': '3870', 'name': 'Nebraska', 'country': 'US'},
    {'key': '3871', 'name': 'Nevada', 'country': 'US'},
    {'key': '3872', 'name': 'New Hampshire', 'country': 'US'},
    {'key': '3873', 'name': 'New Jersey', 'country': 'US'},
    {'key': '3874', 'name': 'New Mexico', 'country': 'US'},
    {'key': '3875', 'name': 'New York', 'country': 'US'},
    {'key': '3876', 'name': 'North Carolina', 'country': 'US'},
    {'key': '3880', 'name': 'Oregon', 'country': 'US'},
    {'key': '3882', 'name': 'Rhode Island', 'country': 'US'},
    {'key': '3883', 'name': 'South Carolina', 'country': 'US'},
    {'key': '3885', 'name': 'Tennessee', 'country': 'US'},
    {'key': '3890', 'name': 'Washington', 'country': 'US'},
    {'key': '3892', 'name': 'Wisconsin', 'country': 'US'}],
   'location_types': ['home']},
  'targeting_optimization': 'expansion_all',
  'excluded_custom_audiences': [{'id': '6042151074436',
    'name': 'CA members (Pixel 180 days)'},
   {'id': '6042151322836', 'name': 'CA leads (Pixel 180 days)'},
   {'id': '6048783738636', 'name': 'CA members (URL 180 days)'},
   {'id': '6048960891836', 'name': 'CA members (API)'},
   {'id': '6124594870836', 'name': 'Supreme_leads_60+days_Sailthru'},
   {'id': '6124594904236', 'name': 'Speakeasy_leads_14+days_Sailthru'},
   {'id': '6124594931436', 'name': 'Waitlist_leads_14+days_Sailthru'},
   {'id': '6126831359436', 'name': 'Active_Members_Sailthru'},
   {'id': '6129512505636', 'name': 'Website Visitors - USD 2 - 180d'},
   {'id': '6129515648436', 'name': 'Website Visitors - Supreme - 180d'},
   {'id': '23843420405880756', 'name': 'Purchase - 180 Days'}],
  'brand_safety_content_filter_levels': ['FACEBOOK_STANDARD', 'AN_STANDARD']}]

In [2]:
shop_id_query = db.query(FacebookDailyPerformance.shop_id).filter(FacebookDailyPerformance.date_start >= '2022-01-01').distinct()
shop_ids = pd.read_sql(shop_id_query.statement, db.bind)

shop_ids = shop_ids['shop_id'].tolist()
chunk_size = 3
for i, shop_ids_chunk in enumerate(np.array_split(shop_ids, len(shop_ids) // chunk_size)):
    print(shop_ids_chunk.tolist())
    query = crud.fb_daily_performance.query_budget_split_by_target(db=db, shop_id=shop_ids_chunk.tolist(), start_date='2022-01-01')
    print(query)
    new_df = pd.read_sql(query.statement, db.bind)
    if i == 0:
        df = new_df
    else:
        df = pd.concat([df, new_df], axis=0)
    if i == 2:
        break

[2, 96, 15873]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target
[16038, 91826, 96200]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target
[130144, 159350, 199383]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target

In [6]:
crud_streamlit_user.add_user(db=db, username='lebeg', hashed_password=hash_password('lebeg123.'), is_superuser=True)

In [3]:
def get_username_config():
    user_data = db.query(StreamlitUser).all()
    list_of_dicts = [row.__dict__ for row in user_data]
    print(list_of_dicts)
    result = {}
    for dic in list_of_dicts:
        username = dic["username"]
        dic["name"] = username
        dic.pop("username")
        dic["password"] = dic["hashed_password"]
        result[username] = dic
    return {"usernames": result}

In [2]:
user_data = db.query(StreamlitUser).all()

In [2]:
config = get_username_config()

NameError: name 'get_username_config' is not defined

In [7]:
ni = config['usernames']['ni']

In [21]:
ni['password'].encode()

b'\\x243262243132243946636435412f7538575334715a4b31484646734e6548633166647042467735737339794b6c774a49422e30335770487337504d69'

In [4]:
password = 'vorkosigan'
hashed = hash_password(password)
hashed

b'$2b$12$9Fcd5A/u8WS4qZK1HFFsNeMRZvkOyVEJD.20nJMZS7wH/jklUxulm'

In [5]:
type(hashed)

bytes

In [23]:
bcrypt.checkpw(password.encode(), ni["password"].encode())

ValueError: Invalid salt

In [2]:
q = db.query(FacebookAd).limit(5)

In [3]:
[type(a) for a in q]

[src.models.facebook.facebook_ad.FacebookAd,
 src.models.facebook.facebook_ad.FacebookAd,
 src.models.facebook.facebook_ad.FacebookAd,
 src.models.facebook.facebook_ad.FacebookAd,
 src.models.facebook.facebook_ad.FacebookAd]

In [2]:
crud_streamlit_user_shop.add_relationship(db=db, streamlit_user_id=19, shop_id=16038)

In [12]:
query = db.query(StreamlitUser)

In [13]:
df = pd.read_sql(query.statement, db.bind)

In [14]:
df

,id,username,hashed_password,is_superuser
0,3,lebeg,lebeg123.,True
1,17,123,\x243262243132243946636435412f7538575334715a4b...,False
2,16,k,\x243262243132243946636435412f7538575334715a4b...,False

In [25]:
q = db.query(StreamlitUser.username).all()
[a.username for a in q]

In [30]:
[a.username for a in q]

['lebeg', 'kikiriki', 'kikirik', 'kikirikajaja', 'kik', 'k', '123']

In [19]:
import bcrypt
import os
from dotenv import load_dotenv
load_dotenv()
from src.utils.hash_password import hash_password

In [17]:
os.getenv('STREAMLIT_SALT').encode()

b'$2b$12$9Fcd5A/u8WS4qZK1HFFsNe'

In [2]:
crud_streamlit_user.delete_user(db=db, username='lebega')

In [7]:
row = StreamlitUser(**dict(username='lebegaca', hashed_password='lebeg123.', is_superuser=True))
db.query(StreamlitUser).filter(StreamlitUser.username == 'lebegaca').delete()
db.commit()

In [33]:
query = crud.fb_daily_performance.query_budget_split_by_target(db=db, shop_id=[16038, 2], start_date='2022-01-01')
str(query)

'SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend \nFROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd \nFROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code \nWHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target'

In [34]:
df = pd.read_sql(query.statement, db.bind)
df

   shop_id              target       spend
0        2  Target.acquisition     5159.64
1        2  Target.remarketing      221.28
2    16038  Target.acquisition  1690709.21
3    16038  Target.remarketing   167237.34

In [2]:
shops = ping_shops(db=db)

2023-02-09 14:46:01.495 | DEBUG    | src.pingers.ping_shops:ping_shops:23 - Here I am!

ping_shops: 0:00:19.410317

In [6]:
shop_id_query = db.query(FacebookDailyPerformance.shop_id).filter(FacebookDailyPerformance.date_start >= '2022-01-01').distinct()
shop_ids = pd.read_sql(shop_id_query.statement, db.bind)

shop_ids = shop_ids['shop_id'].tolist()
chunk_size = 3
for i, shop_ids_chunk in enumerate(np.array_split(shop_ids, len(shop_ids) // chunk_size)):
    print(shop_ids_chunk.tolist())
    query = crud.fb_daily_performance.query_budget_split_by_target(db=db, shop_id=shop_ids_chunk.tolist(), start_date='2022-01-01')
    print(query)
    new_df = pd.read_sql(query.statement, db.bind)
    if i == 0:
        df = new_df
    else:
        df = pd.concat([df, new_df], axis=0)
    if i == 2:
        break

[2, 96, 15873, 16038]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target
[91826, 96200, 130144, 159350]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target
[199383, 231517, 268714]
SELECT facebook_daily_performance.shop_id AS facebook_daily_performance_shop_id, facebook_adset.target AS facebook_adset_target, sum(facebook_daily_performance.spend / anon_1.rate_from_usd) AS spend
FROM facebook_daily_performance JOIN facebook_adset ON facebook_daily_performance.shop_id = facebook_adset.shop_id AND facebook_daily_performance.account_id = facebook_adset.account_id AND facebook_daily_performance.adset_id = facebook_adset.adset_id JOIN facebook_ad_account ON facebook_daily_performance.account_id = facebook_ad_account.facebook_id AND facebook_daily_performance.shop_id = facebook_ad_account.shop_id JOIN (SELECT DISTINCT ON (currency_exchange_rate.code) currency_exchange_rate.code AS code, currency_exchange_rate.rate_from_usd AS rate_from_usd
FROM currency_exchange_rate ORDER BY currency_exchange_rate.code, currency_exchange_rate.date DESC) AS anon_1 ON facebook_ad_account.currency = anon_1.code
WHERE facebook_daily_performance.shop_id IN (__[POSTCOMPILE_shop_id_1]) AND facebook_daily_performance.date_start >= %(date_start_1)s AND facebook_daily_performance.date_start <= %(date_start_2)s GROUP BY facebook_daily_performance.shop_id, facebook_adset.target

[array([36833384, 46864466, 43739609, 50592831, 36370064, 53002252,
        39579188, 31971959, 43985342, 45844908, 38489951, 20347698,
        68534913, 12153503, 33391601, 36143108, 12109463, 43242730,
        41490637, 13597214, 48425409, 31064070, 15332300, 13781927,
        43352241,   256652,  1370565,  2114125, 17807133, 51022062,
        31839270, 38580607, 37140876, 44270769,  1407292, 41224141,
        50604700, 49063542, 45008008, 76522436, 50254205, 31904124,
        21313648, 13131861, 41174878, 50783576, 17045701, 40954863,
           15887, 40330230, 22926764,  9596262, 45038286,  8573833,
        44512322, 38092292, 45836491, 39270994, 17506226, 56579596,
        38833446, 74399413, 41363055, 38962439, 47140968,  8112778,
        44086229, 45045056, 46360217, 38894179, 18675218, 30704322,
        46317801, 41273036, 43954850, 12140410, 45764574,  9231199,
        25963515, 31623603, 40281047,    16006, 39329571, 27227973,
         9893977, 49074615, 41020843, 58264127, 28794880, 48076710,
        36965121, 11937448, 29851960,  9316625, 22502944, 37737448,
        51183517, 39396612, 42232873, 11883461,  3397559, 12102448,
        20211437, 57064140, 45055664, 21002829, 39831581, 50589346,
        51027099, 28729955, 32618209,  8856607,  2135501, 33256305,
        50957841, 51064739, 15433380, 10194147, 45030209, 22712938,
        47836929, 22068518, 46332528,        2, 37995958,  2245214,
        37180627,  2402084, 52112723,  2387181, 24984690, 35619378,
        18686172, 45852603, 43919366, 32795319,  2409934, 18886758,
        31547008,  9152411,  8687421, 26337866, 36735235, 16002430,
         8042751, 70081753, 45344942,   335856, 37235396, 33363962,
        40831949, 18193343, 10560344,  4676271, 43811935, 21884490,
        42144858, 44301396, 38264058, 39706239, 34396588, 46062968,
        42978840, 43382790,   213889,  2876149, 17426875, 34637563,
        28688407, 49690643, 43888734,   135749,  9407140, 41020993,
        38058321, 50733743, 34103894, 15951920, 33084416, 12289672,
        23355918,  7629029, 22703614, 13512604, 22481415, 37189733,
        11859392, 19650347, 34807887, 48862557, 13785664, 10260559,
        50518990, 49943466, 18974696, 26532903, 50971751, 37395195,
        13933585,  2252626, 19289898, 10197218, 50677676, 38071429,
        19425638,  9180676, 58702090, 10608767, 38890678, 10510755]),
 array([20000651, 37383222, 20500879, 51203216,  2173471, 42148898,
        37693860, 46159049, 31270681,  2445081, 45493717, 37057908,
        45331016, 58074047, 50952769, 42535592, 50822364, 23522803,
        39713389, 51097765, 48116677, 46348400,  2402571, 46142705,
         8564570, 73040987, 45286951, 51020556, 38860150, 23977708,
        50697002,  2501908, 45797364, 47188120, 44470041, 51177332,
        41436366, 42240975, 20692853, 52207244, 37949081, 35457894,
        36997565,  1390746, 51211265,  9912363, 51124844, 42419894,
        12737677, 19806629, 12808510, 20231443, 19395665, 39520333,
         8588771,  9139458, 50420657, 37733502, 51204887, 43412239,
        56562556, 68537813,  8774527, 30081589, 35112128, 44017797,
         7772466, 37569418, 26493761, 44266378, 11859172, 41998519,
        42202587, 39372308, 45091227, 33335814, 12989612, 19942728,
        44469100,  2167353, 46019492, 52192918, 37787121, 26204440,
         2401299, 48984691, 29975139, 48517177, 40691910, 24126055,
        51124864, 43889778, 50909264, 48982112, 44274172,  9518726,
        50692333, 46167900, 41279979, 55720683, 49689871, 32825495,
        33089105, 50963326, 42148868, 37211363, 37688694, 76824978,
        44997549,  9100580, 37111565,  3207402, 39645416, 58603544,
        37988577, 41079363, 50866917, 55659255, 38192316, 19420498,
        58814935, 12787254, 22660537, 38559673, 38948335,  9927170,
        17104706, 74321328,  8471839, 20134299, 38218390, 10580576,
        44295998, 38369393, 19717003, 39928633, 38389887, 37860594,
         1359754, 37999950, 41331882, 40868730, 38218398,  2227071,
        45071665, 37720544, 24268796, 39145015, 38103817, 40699519,
        33212206, 10261118, 34198648,    16038, 56613887, 40702399,
         8622518, 18484643, 44020787,  8715692, 37058360,   199383,
        34366561,  8511237, 19691547,  2124801, 21575323, 44126490,
              96, 41335335, 38868374, 36678910, 33092193,  2472778,
        38136627, 37480505, 28966990,   182202, 50974586, 47445704,
        22924796, 52538077, 37128351, 35100920, 73805322, 28859605,
        23481652, 23224328, 51210714, 41395662, 22900073, 49065830,
        13830063, 41334766,  8546677, 52968419,  1338947, 43298814,
        42239458, 46868927, 36679793, 51838703, 39244278, 56951609,
        12195110, 10276285, 50693481, 50445563,  2058949, 40844422]),
 array([ 9906141, 39100537, 38054497, 37719620, 49561823, 32984825,
        43417642,  9662886, 42237203,  1417720,  8655489, 42233102,
        15666148,   130144, 46150790, 25851397, 40961852, 46831982,
        45276136, 46813456, 51021274, 52094238, 19083465,  2662104,
        39652921, 35697277, 42564905, 47443959, 41973277, 12464272,
        52041939,  3202783,  2577155, 43990010, 39679905, 10188458,
        42565615, 26389028, 36814660,  8914919, 43946410, 51831457,
        45348903, 50106585,  8951576, 45447508, 39106511, 23041145,
         2391983, 31722805, 23799523, 50497431, 44542158, 38483209,
         1918239, 38950722, 36705510, 19503931, 12166677, 51200711,
        57037850, 38299502, 43410517, 10543255, 43372751, 56825533,
        43952231, 24083693, 38290960, 46255395, 39655595, 42760756,
        18166172, 47162080, 50592374, 12674576, 73652427,  1355358,
        37594925, 50742348, 45491526, 24240627,  2034908, 50602673,
        37888749, 36353321,  3192660, 51133084, 40929757, 10565377,
        49022445, 29521951,  1434806,    15977, 42872536, 39528957,
        51177166,  1321582, 40795699, 50631689, 40671461, 50721745,
        10221230, 34681909, 37221588, 36989335, 57733345, 40900835,
         2389204, 39222988, 40963916, 50976291, 47463448, 46828385,
         8686816, 12752324,  7986318, 31859716, 45256821, 45484301,
        31609546, 13855472, 21073603,  2459137, 19049959, 12263797,
        37393195, 44510063, 36183854, 55575375, 12238483,  9738029,
        43886594, 29633032, 33166527, 37782334, 34864955, 49073144,
        56809326, 24751819, 73430611, 29797051, 24692020, 44144500,
        48131293, 38893464, 12786762, 50924659, 44112778, 31420164,
        12760428, 41395146, 10893054, 40698116, 39801981, 22917705,
        37829185, 37981998, 15332885, 44486337, 50640319,    96200,
        48897702, 32946289, 35756063, 73206125, 19675374, 51904487,
        51029960, 40703816, 37218720, 11776266, 10261879, 20953639,
        10006768, 38687494, 38067303,  9375419, 10079705,  8609788,
        31587104,  9530730, 24640760, 38620545, 45262536, 45285024,
        40857611, 50505820, 37737864,  2423816,  9400589, 44183745,
        10034235, 15348287, 43247895, 31665505, 47421521, 36799610,
        44004018, 40959070, 46132509,  9750361, 48433981, 45159394,
        45030541, 50709443, 42177872, 34072236, 44105203]),
 array([22119365, 28473545, 46101091, 79546058, 38215210, 47150656,
         9258259, 44484284,  1428146,  9815828, 29842229, 49724659,
         2655205, 39666069, 46175731, 41447372,  3235658,  9994918,
           15892,  2873481, 37913142, 38047162, 39180572, 26106385,
        55841646, 36911037, 38849112, 11490515, 51147115, 73837038,
         8442051, 54875709, 12176957, 51132894, 49634876, 46801580,
         2030833, 55808894, 38358750, 37987374, 39544416, 42197268,
        37716430, 16737433,  8335514, 50993097,   268714, 50498995,
        50517862, 42549862, 48318387, 18305677, 38102371, 34924378,
        45021091, 36319763, 45379739, 19080834, 38023140, 44207949,
        16621201, 45119813, 36659648, 19741878, 12451478, 40312708,
        38894108, 46826053, 45858912, 33554559, 50392847, 38175156,
        34668356, 12345766,  9264996, 35679057, 44470659, 29080200,
         2702425, 43435015, 43808339, 10199056, 35510778, 38891160,
        31584044, 45842958, 31548005, 31297794, 38893730, 44470021,
        37977568,  9578088, 45446054, 42125537, 44276562, 46859416,
        31728156, 38876948, 23654015, 45514705, 42222035,  2174240,
        39771107,  9723286, 18628283, 42238174, 12348254,    91826,
        42265913, 45037106, 38104007, 14018822, 70793243, 49143414,
        19686580,  8901852,  1333476, 26660035,  2073755,  9762267,
        35134105, 23088085, 48492066, 40336212, 39306968,  8454771,
        38315748, 21740924, 41209572, 25907517, 45308493, 49631079,
        50694845,  8884065, 51912008, 10080134, 38901784, 68313418,
        48116543, 45299964, 39681978, 44266541, 46290291, 38894262,
        27547729,   159350, 10227064, 52143605, 10007640, 37177422,
        37396505, 20281988, 40928450, 48460630, 29413487, 37658733,
        37998005, 38483499, 24891898, 57041110, 41151246, 50944062,
        37113082, 51133332, 34310261, 38295917, 42232170, 52748083,
        34810574,  1259996, 37661773,  1215058, 31929671, 44538290,
        36781360, 79993181, 16200158, 48400911,   231517, 44087101,
        50940375, 42198824, 43886677, 43996884, 50723988, 28799482,
         8966477, 37692660, 20980695, 33280300, 52096179, 20614216,
         6732613, 51124636, 10248339, 39770280, 49111322, 31717449,
        41171814, 38308723, 40312516,  9786061, 36946507, 13885685,
        37130885, 50168507, 41019561, 34248783, 43954864]),
 array([45057901, 71301472, 49571146,  1912299, 18110497, 21711700,
         2470154, 32812002, 10353162, 10943493, 40339951, 10054981,
        38894308,  2739174, 70666462,  2266360, 47426758, 36378088,
        41870118, 19505868, 37142873, 36978378, 52734591, 31522526,
        35522045, 38356081, 40951757, 50059550, 51198641, 34714720,
        38559204, 14486167, 35498466,    15873, 50522047, 35718182,
        42766359,  1419100, 31342479, 51018031, 41060245, 10273006,
        37156912, 46147156, 54606407, 36672597, 15193630, 32905723,
        37808070, 22343860, 41857988, 32984627, 44190127, 34237718,
        44132909, 31527465, 38955025, 58080305, 37245552, 38402811,
         9527262, 45864486, 39650076, 18043792, 22694828, 45059945,
        39936893, 21774004, 12560835, 39814436, 36848460,  8951762,
        39346644, 39203912, 32903308, 31286041, 28932952, 39848713,
        50735710, 38823077, 58847443, 31818379, 48023348, 29932371,
        43375757, 45356313,  1267261,  9004343, 40164348, 52265787,
        46321569,  9573425, 39260076, 38145342, 40896545, 51824258,
        16429085, 14123457, 37145533, 17448274, 51147161, 57067425,
        51164259, 10074314, 42553441, 46164620, 45046838,  2555010,
        37108949,  2112768, 53001219, 52775763, 22148194, 39674804,
        33511268, 42333117, 17411381, 40921787, 38348391, 29163338,
        37842294,  2410663, 19957071, 48277394,  3112098,  2294414,
        50524723, 36233823, 37259196, 47932389, 23662937, 39316672,
         8556595,  9583694, 46191628, 44113291, 37135321,  8703879,
        40724412, 19387101, 45066856, 45039051, 51112944,  7677164,
        58273096,  2518637, 37254609, 44091923, 40992771, 44994829,
        48148228, 63273289, 12226687, 43962827, 46064172, 50602819,
        39221969, 36293314, 20329307,  3233591, 44151529, 63459535,
        20402319, 44479250, 50455589, 23647289, 26269495, 37392165,
        37082831, 37156182,  2974781, 41445449, 79497608, 45867058,
          134490, 28720295, 41075753, 33166821, 45194119, 39309100,
         8792296,  2295945, 37673090, 39253929, 38819134, 14447833,
        41498372, 34350445, 30929283,  2214814, 46827171, 38385236,
        57986953, 81528324, 34685987, 50962794, 52011773, 49086843,
        42661289, 25254472, 31396894, 12833525, 41000377, 37213843,
        12480682, 28299708, 40914710, 18600257, 42787782])]

In [11]:
def f(df):
    print(df)
    df.spend = df.spend / df.spend.sum()
    return df

In [12]:
df.groupby('shop_id').transform(f)

0    Target.acquisition
1    Target.remarketing
Name: target, dtype: object

AttributeError: 'Series' object has no attribute 'spend'

In [ ]:
import pandas as pd
# crm = pd.read_csv('data/industries.csv')
df = pd.read_csv('data/ads_insights.csv')

In [ ]:
q = 4
pd.qcut(df.loc[df.facebook_spend.notna(), 'facebook_spend'], q=q, labels=list(range(q))).isna().sum()

In [ ]:
df.industry.count()

In [ ]:
import pandas as pd
from enum import Enum
from itertools import combinations
from src.utils.enum import get_enum_values
import numpy as np

class EPlatform(str, Enum):
    facebook = "facebook"
    tiktok = "tiktok"
    google = "google"

df = pd.read_csv('data/ads_insights.csv')

In [ ]:
"-".join(['a', 'b'])

In [ ]:
set(combinations(, r=2))

In [ ]:
def get_all_subsets(s: set | list):
    n = len(s)
    subsets = []
    for i in range(n+1):
        i_subsets = combinations(s, i)
        subsets.extend(i_subsets)
    return subsets

In [ ]:
platforms = get_enum_values(EPlatform)
platform_combinations = get_all_subsets(platforms)

In [ ]:
table = pd.DataFrame(columns=['combination', 'shops', 'budget_split'])

In [ ]:
def get_spend_ratio(s: pd.Series, platforms: list):
    ratio = [s[f"{platform}_spend"] / s.full_spend for platform in platforms]
    return ratio

In [ ]:
def get_data_by_platform_combination(df: pd.DataFrame, combination: list):
    filter = [True in range(len(df))]
    for platform in platforms:
        if platform in combination:
            filter = filter & (df[f'{platform}_spend'].notna())
        else:
            filter = filter & (df[f'{platform}_spend'].isna())
    filtered = df[filter].copy()
    filtered['full_spend'] = filtered.apply(lambda df: sum([df[f"{platform}_spend"] for platform in combination]), axis=1)
    platforms_without_the_last_one = combination[:len(combination)-1]
    filtered['spend_ratio'] = filtered.apply(lambda df: get_spend_ratio(df, platforms=platforms_without_the_last_one), axis=1)
    mean_ratio = np.mean(filtered['spend_ratio'].tolist(), axis=0)
    print(mean_ratio)
    result = {"combination": '_'.join(combination), "shops": len(filtered)/len(df), "budget_split": list(mean_ratio) + [1-mean_ratio.sum()]}
    return result

In [ ]:
for combination in platform_combinations:
    if not len(combination):
        continue
    row = get_data_by_platform_combination(df=df, combination=combination)
    table.loc[len(table), :] = row

In [ ]:
table

In [ ]:
result

In [ ]:
filtered

In [ ]:
filtered.spend_ratio

In [ ]:
filtered

In [ ]:
combination[:len(combination)-1]

In [ ]:
len(df[(df.facebook_spend.notna()) & (df.google_spend.isna()) & (df.tiktok_spend.notna())])

In [ ]:
df = ping_ads_insights_all_platforms(db=db, columns='spend')

In [ ]:
only_shop = df.groupby('shop_id').sum().reset_index()

In [ ]:
df

In [ ]:
FacebookAd.ad_id.__mapper__

In [ ]:
FacebookAd.__class__

In [ ]:
df = ping_shops(db=db)

In [ ]:
df.loc[df.shop_id == 16038, :]

In [ ]:
df.ad_id

In [ ]:
df.loc[df.ad_id == '10'].index[0]

In [ ]:
query = session.query(FacebookAd.ad_id)

In [ ]:
query[0]

In [ ]:
type(query)