In [1]:
from src.pingers import ping_shops, ping_creative_and_performance, ping_creative, ping_ads_insights
from src.database.session import db
from src.models import FacebookAdsInsights, TikTokAdsInsights

base I am using: lebesgue-dev.cgviinyjedbs.eu-central-1.rds.amazonaws.com

In [2]:
df = ping_ads_insights(db=db, model=TikTokAdsInsights, columns=[TikTokAdsInsights.spend])

/Users/sanjinjuricfot/developer/premium_dashboard/venv/lib/python3.10/site-packages/pandas/io/sql.py:1402: SAWarning: SELECT statement has a cartesian product between FROM element(s) "tik_tok_ads_insights" and FROM element "facebook_ads_insights".  Apply join condition(s) between each element to resolve.
  return self.connectable.execution_options().execute(*args, **kwargs)

In [3]:
df

        shop_id    spend year_month
0             2   345.97    2022-01
1             2   401.77    2021-11
2             2   441.61    2022-03
3             2   547.01    2022-11
4             2   626.67    2022-06
...         ...      ...        ...
18543  81528324  1573.79    2021-01
18544  81528324  1815.77    2021-03
18545  81528324  1828.60    2021-02
18546  81528324  2244.59    2020-12
18547  81528324  2302.13    2020-11

[18548 rows x 3 columns]

In [17]:
FacebookAd.ad_id.__mapper__

AttributeError: Neither 'InstrumentedAttribute' object nor 'Comparator' object associated with FacebookAd.ad_id has an attribute '__mapper__'

In [15]:
FacebookAd.__class__

sqlalchemy.orm.decl_api.DeclarativeMeta

In [3]:
df = ping_shops(db=db)

2023-02-04 08:25:50.218 | DEBUG    | src.pingers.ping_shops:ping_shops:22 - Here I am!

ping_shops: 0:00:02.613746

In [6]:
df.loc[df.shop_id == 16038, :]

     shop_id                  name
359    16038  shopfw.myshopify.com

In [4]:
df.ad_id

0                       1
1                       1
2                      10
3       23842588968860342
4       23842589378750342
              ...
5228    23851164951750755
5229    23851164978180755
5230    23851249585430755
5231    23851314362320755
5232    23851314425550755
Name: ad_id, Length: 5233, dtype: object

In [8]:
df.loc[df.ad_id == '10'].index[0]

2

In [2]:
query = session.query(FacebookAd.ad_id)

In [3]:
query[0]

('23848754996430295',)

In [4]:
type(query)

sqlalchemy.orm.query.Query