In [3]:
import sys
sys.path.append('..')

from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta
from enum import Enum

from src.services import facebook_target_descriptive_saver as ftd
from src.database.session import SessionLocal
from src.abc.descriptive import DescriptiveDF
from src.pingers import *
from src.utils import *

db = SessionLocal()
end_date_plus_one = date(year=2023, month=8, day=1)
end_date = end_date_plus_one - timedelta(days=1)
start_date = end_date_plus_one - relativedelta(months=2)
shop_id = 16038

2023-08-22 08:05:21.811 | DEBUG    | src.database.session:<module>:17 - base: prod.cw6tznt1p9hq.us-east-1.rds.amazonaws.com

In [4]:
failed = ftd.read_df(df_type=DescriptiveDF.failed_shop_ids, end_date=end_date)
failed

Empty DataFrame
Columns: [shop_id]
Index: []

In [2]:
ftd.create_and_save_main(db=db, end_date=end_date_plus_one, force_from_scratch=True)

  0%|          | 0/2 [00:00<?, ?it/s]2023-08-21 12:52:35.238 | DEBUG    | src.services.descriptive.descriptive_saver:get_shop_descriptive_df:143 - 16038: +
 50%|█████     | 1/2 [00:14<00:14, 14.01s/it]2023-08-21 12:52:40.339 | DEBUG    | src.services.descriptive.descriptive_saver:get_shop_descriptive_df:143 - 44301396: +
100%|██████████| 2/2 [00:19<00:00,  9.55s/it]

In [3]:
main_df = ftd.read_df('main', end_date=end_date)
main_df

,Unnamed: 0,year_month,feature_value,spend_USD,impr,clicks,purch,purch_value_USD,n_ads,feature,shop_id
0,0,2021-08,acquisition,43827.910000,3083490.0,34648.0,372.0,76164.920000,7,target,16038
1,1,2021-08,remarketing,2974.750000,97798.0,1532.0,95.0,18069.200000,4,target,16038
2,2,2021-09,acquisition,12883.980000,588609.0,7050.0,105.0,19233.220000,7,target,16038
3,3,2021-09,remarketing,1801.440000,55666.0,1069.0,77.0,14349.140000,3,target,16038
4,4,2021-10,acquisition,12591.340000,601249.0,7403.0,91.0,18269.520000,8,target,16038
...,...,...,...,...,...,...,...,...,...,...,...
457,19,2023-03,.,19596.544337,3765929.0,19740.0,1515.0,124128.860981,101,fake_feature,44301396
458,20,2023-04,.,11486.746286,2403172.0,10176.0,435.0,39202.808187,29,fake_feature,44301396
459,21,2023-05,.,25277.592393,4401135.0,25817.0,2288.0,152635.492447,23,fake_feature,44301396
460,22,2023-06,.,6020.500946,1310240.0,6475.0,155.0,13987.146349,14,fake_feature,44301396
461,23,2023-07,.,19955.775478,3588629.0,23924.0,1206.0,80075.956742,13,fake_feature,44301396

In [4]:
ftd.create_and_save_summary(end_date=end_date)

2023-08-21 12:55:06.623 | DEBUG    | src.services.descriptive.descriptive_saver:create_and_save_summary:36 - ['year_month', 'feature', 'feature_value']

In [8]:
summary_df = ftd.read_df('summary', end_date=end_date)
summary_df[summary_df.feature == 'age_groups']

,year_month,feature,feature_value,spend_USD,impr,clicks,purch,purch_value_USD,n_ads,n_shops,spend_USD_by_shop,impr_by_shop,clicks_by_shop,purch_by_shop,purch_value_USD_by_shop,n_ads_by_shop
0,2021-08,age_groups,middle,52995.339392,4017071.0,42819.0,679.0,113307.300265,109,2,0.333364,0.333366,0.333414,0.333661,0.333510,0.346032
1,2021-08,age_groups,old,52956.055746,4009835.0,42743.0,677.0,113151.611068,99,2,0.333117,0.332766,0.332822,0.332678,0.333051,0.314286
2,2021-08,age_groups,young,53019.866783,4023110.0,42864.0,679.0,113283.244838,107,2,0.333519,0.333868,0.333764,0.333661,0.333439,0.339683
11,2021-09,age_groups,middle,23712.819735,1884912.0,16697.0,611.0,62074.891535,62,2,0.333819,0.333560,0.334723,0.335714,0.334794,0.336957
12,2021-09,age_groups,old,23434.523084,1839725.0,16383.0,595.0,60970.782865,59,2,0.329901,0.325563,0.328429,0.326923,0.328839,0.320652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2023-06,age_groups,old,143226.580946,10742993.0,89985.0,1330.0,203808.556349,35,2,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
237,2023-06,age_groups,young,143226.580946,10742993.0,89985.0,1330.0,203808.556349,35,2,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
245,2023-07,age_groups,middle,267158.115478,19295636.0,183809.0,3590.0,507836.566742,73,2,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
246,2023-07,age_groups,old,267158.115478,19295636.0,183809.0,3590.0,507836.566742,73,2,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
247,2023-07,age_groups,young,267158.115478,19295636.0,183809.0,3590.0,507836.566742,73,2,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

In [4]:
df_fw = ftd.get_shop_descriptive_df(db=db, shop_id=16038, end_date=end_date, start_date = start_date)
df_dr = ftd.get_shop_descriptive_df(db=db, shop_id=44301396, end_date=end_date, start_date = start_date)
df_test = df_fw.add(df_dr, fill_value=0)
df_test

                                       spend_USD        impr    clicks  \
year_month feature  feature_value
2023-06    audience broad          143218.768200  10742993.0   89985.0
           gender   both             5090.777660   1007951.0    4879.0
                    female         136710.680000   9415026.0   83186.0
                    male             1417.310541    320016.0    1920.0
           target   acquisition    136337.849514  10381923.0   86609.0
                    remarketing      6880.918686    361070.0    3376.0
2023-07    audience broad          267132.219061  19295636.0  183809.0
           gender   both           111829.269061   9613191.0  102259.0
                    female         155302.950000   9682445.0   81550.0
           target   acquisition    256005.323406  18719231.0  176640.0
                    remarketing     11126.895655    576405.0    7169.0

                                    purch  purch_value_USD  n_ads  \
year_month feature  feature_value
2023-06    audience broad          1330.0    203790.405365   35.0
           gender   both            195.0     20988.716067   14.0
                    female         1112.0    181100.080000   20.0
                    male             23.0      1701.609298    1.0
           target   acquisition     972.0    146787.320838   28.0
                    remarketing     358.0     57003.084527    7.0
2023-07    audience broad          3590.0    507732.652949   73.0
           gender   both           2059.0    246237.972949   47.0
                    female         1531.0    261494.680000   26.0
           target   acquisition    2551.0    383126.214474   62.0
                    remarketing    1039.0    124606.438475   11.0

                                   spend_USD_by_shop  impr_by_shop  \
year_month feature  feature_value
2023-06    audience broad                   2.000000      2.000000
           gender   both                    0.767891      0.757637
                    female                  0.996389      0.998121
                    male                    0.235720      0.244242
           target   acquisition             1.892807      1.917075
                    remarketing             0.107193      0.082925
2023-07    audience broad                   2.000000      2.000000
           gender   both                    1.371758      1.383559
                    female                  0.628242      0.616441
           target   acquisition             1.890701      1.916500
                    remarketing             0.109299      0.083500

                                   clicks_by_shop  purch_by_shop  \
year_month feature  feature_value
2023-06    audience broad                2.000000       2.000000
           gender   both                 0.707355       0.905230
                    female               0.996120       0.946383
                    male                 0.296525       0.148387
           target   acquisition          1.882072       1.448895
                    remarketing          0.117928       0.551105
2023-07    audience broad                2.000000       2.000000
           gender   both                 1.489946       1.357802
                    female               0.510054       0.642198
           target   acquisition          1.795815       1.379392
                    remarketing          0.204185       0.620608

                                   purch_value_USD_by_shop  n_ads_by_shop  \
year_month feature  feature_value
2023-06    audience broad                         2.000000       2.000000
           gender   both                          0.924132       0.976190
                    female                        0.954055       0.952381
                    male                          0.121813       0.071429
           target   acquisition                   1.496038       1.571429
                    remarketing                   0.503962       0.428571
2023-07    audience broad                         2.000000       2.000000
           gender   both                          1.388689       1.566667
                    female                        0.611311       0.433333
           target   acquisition                   1.393756       1.696154
                    remarketing                   0.606244       0.303846

                                   n_shops
year_month feature  feature_value
2023-06    audience broad              2.0
           gender   both               2.0
                    female             1.0
                    male               1.0
           target   acquisition        2.0
                    remarketing        2.0
2023-07    audience broad              2.0
           gender   both               2.0
                    female             1.0
           target   acquisition        2.0
                    remarketing        2.0

In [5]:
df_dr

                                      spend_USD       impr   clicks   purch  \
year_month feature  feature_value
2023-06    target   acquisition     5653.989514  1242306.0   5931.0   111.0
                    remarketing      358.698686    67934.0    544.0    44.0
2023-07    target   acquisition    18536.283406  3370936.0  19441.0   755.0
                    remarketing     1393.595655   217693.0   4483.0   451.0
2023-06    gender   both            4595.377660   990224.0   4555.0   132.0
                    male            1417.310541   320016.0   1920.0    23.0
2023-07    gender   both           19929.879061  3588629.0  23924.0  1206.0
2023-06    audience broad           6012.688200  1310240.0   6475.0   155.0
2023-07    audience broad          19929.879061  3588629.0  23924.0  1206.0

                                   purch_value_USD  n_ads  spend_USD_by_shop  \
year_month feature  feature_value
2023-06    target   acquisition       10898.020838     10           0.940343
                    remarketing        3070.974527      4           0.059657
2023-07    target   acquisition       48993.774474     11           0.930075
                    remarketing       30978.268475      2           0.069925
2023-06    gender   both              12267.386067     13           0.764280
                    male               1701.609298      1           0.235720
2023-07    gender   both              79972.042949     13           1.000000
2023-06    audience broad             13968.995365     14           1.000000
2023-07    audience broad             79972.042949     13           1.000000

                                   impr_by_shop  clicks_by_shop  \
year_month feature  feature_value
2023-06    target   acquisition        0.948151        0.915985
                    remarketing        0.051849        0.084015
2023-07    target   acquisition        0.939338        0.812615
                    remarketing        0.060662        0.187385
2023-06    gender   both               0.755758        0.703475
                    male               0.244242        0.296525
2023-07    gender   both               1.000000        1.000000
2023-06    audience broad              1.000000        1.000000
2023-07    audience broad              1.000000        1.000000

                                   purch_by_shop  purch_value_USD_by_shop  \
year_month feature  feature_value
2023-06    target   acquisition         0.716129                 0.780158
                    remarketing         0.283871                 0.219842
2023-07    target   acquisition         0.626036                 0.612636
                    remarketing         0.373964                 0.387364
2023-06    gender   both                0.851613                 0.878187
                    male                0.148387                 0.121813
2023-07    gender   both                1.000000                 1.000000
2023-06    audience broad               1.000000                 1.000000
2023-07    audience broad               1.000000                 1.000000

                                   n_ads_by_shop  n_shops
year_month feature  feature_value
2023-06    target   acquisition         0.714286        1
                    remarketing         0.285714        1
2023-07    target   acquisition         0.846154        1
                    remarketing         0.153846        1
2023-06    gender   both                0.928571        1
                    male                0.071429        1
2023-07    gender   both                1.000000        1
2023-06    audience broad               1.000000        1
2023-07    audience broad               1.000000        1

In [6]:
main_df.subtract(df_test).max()

spend_USD                  0.000000e+00
impr                       0.000000e+00
clicks                     0.000000e+00
purch                      0.000000e+00
purch_value_USD            0.000000e+00
n_ads                      0.000000e+00
spend_USD_by_shop          2.220446e-16
impr_by_shop               0.000000e+00
clicks_by_shop             0.000000e+00
purch_by_shop              1.110223e-16
purch_value_USD_by_shop    1.110223e-16
n_ads_by_shop              2.220446e-16
n_shops                    0.000000e+00
dtype: float64